/* CSS for PeerInstructionXBlock */
h2.question-text {
    margin-top: 0;
    display:inline-block;
}

.question-weight{
    display:inline-block;
    font-weight:100;
    font-size:1em;
    color:#656565;
    padding-left:5px;
}

.ubcpi_block .count {
    font-weight: bold;
}

.choicegroup fieldset {
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 20px;
    padding: 0 0 0 20px;
    border-left: 1px solid #ddd;
}

div.course-wrapper section.course-content fieldset .ubcpi-option {
    margin: 0;
}

div.course-wrapper section.course-content fieldset legend {
    margin-bottom: 1.41575em;
}

fieldset .ubcpi-label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    clear: both;
    margin-bottom: 10px;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}

.ubcpi-label img {
    max-width: 100%;
    height: auto;
    display: block;
}

.ubcpi-label.ubcpi-answer {
    float: none;
}

.results-container .ubcpi-label {
    margin-bottom: 15px;
}

.ubcpi-field {
    display: block;
}

.ubcpi-field[type="radio"] {
    float: left;
    margin: 4px;
    box-sizing: border-box;
    padding: 0;
}

textarea.ubcpi-field {
    width: 100%;
    height: 100px;
    margin: 1em 0;
    background: #fff;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6), inset 0 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font: normal 1em "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
    padding: 5px 12px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
}

.choicegroup .ubcpi_submit {
    padding: 10px 40px;
    border: 1px solid #2b8dbb;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    background: #33a6dc none;
    box-shadow: none;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    box-sizing: border-box;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    text-shadow: none;
    margin-bottom: 10px;
}

.ubcpi_block .choicegroup .ubcpi_submit:hover,
.ubcpi_block .choicegroup .ubcpi_submit:active,
.ubcpi_block .choicegroup .ubcpi_submit:focus {
    border-color: #00a7f6;
    box-shadow: none;
    background: #00a7f6 none;
    color: #fff;
}

.choicegroup input[type="button"]:disabled {
    background-color: #515151;
    border-color: #515151;
    cursor: not-allowed;
    opacity: 1;
    pointer-events: all;
}

.choicegroup input[type="button"]:disabled:hover {
    background-color: #515151;
    border-color: #515151;
}

.your-answer-and-rationale .ubcpi_submit {
    float: left;
}

/* Other Answers */
div.course-wrapper section.course-content .vert-mod > div ul.ubcpi-other-answers {
    list-style-type: none;
    border: 1px solid #cfc6c6;
    background: #F6F6F6;
    padding: 0;
}

div.course-wrapper section.course-content .vert-mod > div ul.ubcpi-other-answers li {
    margin: 0.75em;
    border-bottom: 1px solid #cfc6c6;
}

div.course-wrapper section.course-content .vert-mod > div ul.ubcpi-other-answers li:last-of-type {
    border-bottom: none;
}

.ubcpi-other-answers {
    margin: 20px 0;
}

.ubcpi-other-answers h3,
.ubcpi-other-answers h4 {
    text-align: left;
    font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
    font-size: 1em;
}

.ubcpi-other-answers h4 {
    font-weight: 900;
}

.ubcpi-other-answers li {
    margin-bottom: 20px;
    padding-left: 20px;
    border-left: 1px solid #ddd;
}

.ubcpi-other-answers li:last-of-type {
    margin-bottom: 0;
}

.pi-add-item-link,
.wrapper-comp-settings .list-input.settings-list .add-image-button {
    display: inline-block;
    margin: 10px 0 0 0;
    padding: 10px 12px;
    width: auto;
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 17.76px;
    line-height: 1.776rem;
    font-weight: 600;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #66c5f0;
    background-color: transparent;
    color: #66c5f0;
    box-sizing: border-box;
    cursor: pointer;
    font-style: normal;
}

.pi-add-item-link:hover,
.wrapper-comp-settings .list-input.settings-list .add-image-button:hover {
    color: white;
    background: #66c5f0;
}

.wrapper-comp-settings .list-input.settings-list .add-image-button {
    margin: 10px 0 0 0;
    width: auto;
    display: block;
    padding: 10px 12px;
}

.wrapper-comp-settings .list-input.settings-list .wrapper-comp-setting.ubcpi-options-list {
    background: rgb(252, 252, 252);
    padding: 10px;
    border: 1px solid rgb(245, 245, 245);
    margin-bottom: 10px;
    overflow: hidden;
}

.pi-wrapper-comp-setting {
    overflow: hidden;
    margin-bottom: 10px;
}

.pi-label-and-hint {
    width: 27%;
    float: left;
    clear: left;
}

.wrapper-comp-settings .list-input.settings-list .pi-label-and-hint .setting-label {
    width: auto;
}

.add-image-inputs {
    padding: 20px 0;
    clear: both;
}

.add-image-inputs input,
.add-image-inputs select {
    margin-bottom: 20px;
}

#pi-form .list-input.settings-list .ubcpi-options-list-container .add-image-inputs .setting-label {
    width: 37%;
}

.remove-action.remove-setting .fa.fa-times-circle {
    color: rgb(153, 216, 245);
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
}

.remove-action.remove-setting .fa.fa-times-circle:hover {
    color: rgb(0, 159, 230);
}

textarea.pi-options {
    clear: left;
    margin: 5px 0 0 26.5%;
    width: 42.5%;
    min-width: 100px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #b2b2b2;
    text-overflow: ellipsis;
    min-height: 80px;
}

.wrapper-comp-settings .list-input.settings-list .wrapper-comp-setting.seeded-answer {
    margin-bottom: 20px;
}

.wrapper-comp-settings .list-input.settings-list .wrapper-comp-setting.seeded-answer select {
    margin-bottom: 60px;
}

.seed_error, .options_error {
    color: #b20610;
    background: #edf1f5;
    padding: 15px;
    margin: 20px 0;
}

#pi-submit-options[disabled="disabled"] {
    box-shadow: none;
    border: 1px solid #99d8f5;
    background: #99d8f5;
}

.modal-window .xblock-actions .action-item.validation-tip {
    min-width: 20px;
    margin-right: 0;
}

.save-disabled-tooltip {
    color: #7f7f7f;
}

#pi-question-text, #pi-correct-rationale {
    width: 43%;
    height: 150px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #b2b2b2;
    color: #33b2eb;
}

.others-responses,
.ubcpi_block .detailed-solution {
    position: relative;
    margin: 20px 0;
    border: 1px solid #d7dbdf;
    border-left: 10px solid #b9c1c8;
    box-shadow: inset 0 1px 2px 1px rgba(2, 2, 3, 0.1);
    padding: 30px 20px 20px 20px;
    background: #fdfdfd;
}

.others-responses h3,
.ubcpi_block .detailed-solution h2,
.your-answer-and-rationale h3 {
    color: #aaa;
    text-transform: uppercase;
    font-weight: bold;
    font-style: normal;
    font-size: 0.9em;
    margin: 0;
}

.your-answer-and-rationale h3 {
    margin-bottom: 10px;
}

.your-answer-and-rationale,
.results-container fieldset {
    padding: 20px;
    background: #f8f8f8;
    border-radius: 2px;
    margin-top: 20px;
    overflow: hidden;
}

.your-answer-and-rationale textarea {
    min-height: 200px;
    border: 1px solid #b9c1c8;
    color: #3c3c3c;
    overflow-y: scroll;
}

.results-container {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(2, 2, 3, 0.1);
    margin-bottom: 20px;
    border: 1px solid #d7dbdf;
    border-top: 5px solid #d7dbdf;
    padding: 10px 20px;
    background: #fff;
}

.results-container h3 {
    color: #65BBE4;
    font-weight: 900;
    border-bottom: 1px solid #D7DBDF;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

/* Graph Styling */
.ubcpibar {
    fill: #33b2eb;
    opacity: 0.8;
}

.ubcpibar.correct-answer {
    fill: #50c67b;
}

.ubcpibar:hover {
    opacity: 1.0;
}

.correct-answer-option {
    margin-bottom: 20px;
    color: #50c67b;
}

#pi-form .list-input.settings-list .setting-label {
    vertical-align: top;
}

#pi-form .list-input.settings-list .ubcpi-options-list-container .setting-label {
    width: 47%;
}

#pi-form .list-input.settings-list .ubcpi-options-list-container .ubcpi-field {
    width: 45%;
    display: inline-block;
}

#pi-form .list-input.settings-list .setting-label + input,
#pi-form .list-input.settings-list .setting-label + textarea,
#pi-form .list-input.settings-list .setting-label + select {
    margin-top: 20px;
}

.wrapper-comp-settings .list-input.settings-list .setting-help {
    min-width: 100px;
    margin-right: 10px;
    color: #6d6d6d;
    font-weight: normal;
    margin-bottom: 20px;
}

.ubcpi-options-list-container {
    width: 73%;
    display: inline-block;
}

#pi-form .wrapper-comp-settings .list-input.settings-list .wrapper-comp-setting {
    margin-bottom: 15px;
}

.option-details-text {
    font-style: italic;
    font-size: 0.8em;
    opacity: 0.7;
    clear: both;
}

.warning-notice {
    display: block;
    background: #edbd3c;
    padding: 10px;
    color: black;
    margin: 0 0 10px;
}

div.course-wrapper section.course-content .warning-notice p {
    margin-bottom: 0;
    color: black;
}

.correct-option {
    color: #50c67b;
}

.possible-option {
    font-style: italic;
}

.response-text {
    padding-left: 22px;
}

.ubcpi-your-response span {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: rgb(60,60,60);
}

.your-answer-and-rationale .inline-hint {
    color: #6d6d6d;
    font-weight: normal;
    font-style: italic;
    font-size: 0.85em;
    float: left;
    max-width: 70%;
    display: block;
    margin-left: 5px;
}

.your-answer-and-rationale legend .inline-hint {
    float: right;
    max-width: 80%;
    margin-top: 2px;
}

.your-answer-and-rationale legend {
    font-weight: bold;
}

.results-container label {
    cursor: default;
}

/*
    Studio Specific changes
*/

/* LMS space for questions is wider than Studio. Normalize */
.studio-xblock-wrapper .ubcpi_block.problem {
    max-width: 820px;
}

.ubcpi-pi-intro {
    background: #F0F0F0;
    padding-bottom: 10px;
}

.ubcpi-pi-intro p {
    margin: 0;
    padding: 10px 30px;
    font-size: 14px;
}

.ubcpi-pi-intro p:nth-child(2n) {
    padding-top: 0;
}

.wrapper-comp-settings #pi-form .list-input.settings-list .field.comp-setting-entry.ubcpi-display-name {
    border-top: none;
}

#pi-algo {
    text-transform: capitalize;
}
