<div class="ubcpi_block problem">

    <div class="revise" data-ng-controller="ReviseController as rc">

        <div class="question-other-explain" data-ng-if="rc.status() == rc.STATUS_NEW || rc.status() == rc.STATUS_ANSWERED">
            
            <h2 class="question-text">Question: {{question_text}}</h2>

            <div class="others-responses" data-ng-if="rc.status() == rc.STATUS_ANSWERED">

                <h3>Others' responses</h3>
                <p>Here is a selection of other students' answers. They may help you refine your answer.</p>
                
                <ul class="ubcpi-other-answers">
                    <li data-ng-repeat="answer in rc.other_answers.answers">
                        <h4 class="other-answer">Answer: {{answer.option}}</h4>
                        <p class="other-rationale">{{answer.rationale}}</p>
                    </li>
                </ul>

                <p>If you wish, you may now revise your answer.</p>

            </div><!-- .others-responses -->

            <form class="choicegroup">

                <fieldset role="radiogroup" aria-label>
                    <label class="ubcpi-label ubcpi-answer" data-ng-repeat="option in options track by $index">
                        <input class="ubcpi-field" type="radio"  name="q" data-ng-model="rc.answer" value="{{$index}}">
                        {{option}}
                    </label>
                </fieldset>

                <label class="ubcpi-label" for="{{appId}}_rationale">Please explain your selection:</label>
                <textarea class="ubcpi-field ubcpi-rationale" id="{{appId}}_rationale" name="rationale" data-ng-model="rc.rationale"></textarea>

                <input data-ng-disabled="rc.disableSubmit()" type='button' class='ubcpi_submit' value='Next Step' data-ng-click="rc.clickSubmit($event)" />
            
            </form>

        </div><!-- .question-other-explain -->

        <div class="correct-revised-chart" data-ng-if="rc.status() == rc.STATUS_REVISED" data-ng-init="rc.getStats()">

            <section class="solution-span correct-answer-and-rationale">
                
                <span>
                    <div class="detailed-solution">
                        <p>Correct Answer: {{rc.correct_answer}}</p>
                        <div>{{rc.correct_rationale}}</div>
                    </div><!-- .detailed-solution -->
                </span>

            </section><!-- .correct-answer-and-rationale -->

            <div class="original-answers choicegroup">
                
                <h3>Original Answers</h3>
                <fieldset role="radiogroup" aria-label>
                    <label class="ubcpi-label ubcpi-answer" data-ng-repeat="d in chartData[0]['values'] track by $index">
                        <input class="ubcpi-field" type="radio" data-ng-model="rc.answer_original" value="{{$index}}" disabled>
                        {{d[0]}} - {{d[1]}}
                    </label>
                </fieldset>

            </div><!-- .original-answers -->

            <div class="revised-answers choicegroup">

                <h3>Revised Answers</h3>
                <fieldset role="radiogroup" aria-label>
                    <label class="ubcpi-label ubcpi-answer" data-ng-repeat="d in chartData[1]['values'] track by $index">
                        <input class="ubcpi-field" type="radio" data-ng-model="rc.answer_revised" value="{{$index}}" disabled>
                        {{d[0]}} - {{d[1]}}
                    </label>
                </fieldset>

            </div><!-- .revised-answers -->

            <nvd3-multi-bar-chart
                    data="chartData"
                    id="ubcpi-chart"
                    tooltips="true"
                    showLegend="true"
                    height="300"
                    width="550"
                    showXAxis="true"
                    showYAxis="true"
                    objectequality="true"
                    >
                <svg></svg>
            </nvd3-multi-bar-chart>

        </div><!-- .correct-revised-chart -->

    </div><!-- .revise -->

</div><!-- .ubcpi_block -->
