<div class="ubcpi_block problem">

    <div class="revise" data-ng-controller="ReviseController as rc">

        <div class="question-other-explain" data-ng-if="rc.status() == rc.STATUS_NEW || rc.status() == rc.STATUS_ANSWERED">

            <h2 class="question-text">Question:</h2>

            <img ng-src="{{question_text.image_url}}" ng-if="question_text.image_position == 'above' && question_text.image_url" />

            <h3 ng-if="question_text.text">{{question_text.text}}</h3>

            <img ng-src="{{question_text.image_url}}" ng-if="question_text.image_position == 'below' && question_text.image_url" />

            <div class="others-responses" data-ng-if="rc.status() == rc.STATUS_ANSWERED">

                <h3>Others' responses</h3>
                <p>Here is a selection of other students' answers. They may help you refine your answer.</p>

                <ul class="ubcpi-other-answers">
                    <li data-ng-repeat="answer in rc.other_answers.answers">
                        <!-- <h4 class="other-answer">Answer: {{options[answer.option]}}</h4> -->
                        <img ng-src="{{options[answer.option].image_url}}" ng-if="options[answer.option].image_position == 'above' && options[answer.option].image_url" />

                        <h4 class="other-answer" ng-if="options[answer.option].text">{{options[answer.option].text}}</h4>

                        <img ng-src="{{options[answer.option].image_url}}" ng-if="options[answer.option].image_position == 'below' && options[answer.option].image_url" />
                        <p class="other-rationale">{{answer.rationale}}</p>

                    </li>
                </ul>

                <p>If you wish, you may now revise your answer.</p>

            </div><!-- .others-responses -->

            <form class="choicegroup your-answer-and-rationale">
                <h3>Your Response</h3>
                <fieldset role="radiogroup" aria-label>
                    <label class="ubcpi-label ubcpi-answer" data-ng-repeat="option in options track by $index">
                        <input class="ubcpi-field" type="radio"  name="q" data-ng-model="rc.answer" value="{{$index}}" integer>
                        <img ng-src="{{option.image_url}}" ng-if="option.image_position == 'above' && option.image_url" />

                        <p ng-if="option.text">{{option.text}}</p>

                        <img ng-src="{{option.image_url}}" ng-if="option.image_position == 'below' && option.image_url" />

                    </label>
                </fieldset>

                <label class="ubcpi-label" for="{{appId}}_rationale">Please explain your selection:</label>
                <textarea class="ubcpi-field ubcpi-rationale" id="{{appId}}_rationale" name="rationale" data-ng-model="rc.rationale"></textarea>

                <input data-ng-disabled="rc.disableSubmit()" type='button' class='ubcpi_submit' value='Next Step' data-ng-click="rc.clickSubmit($event)" />

            </form>

        </div><!-- .question-other-explain -->

        <div class="correct-revised-chart" data-ng-if="rc.status() == rc.STATUS_REVISED" data-ng-init="rc.getStats()">

            <section class="solution-span correct-answer-and-rationale">

                <span>
                    <div class="detailed-solution">
                        <h2>Correct Answer:</h2>

                        <img ng-src="{{options[rc.correct_answer].image_url}}" ng-if="options[rc.correct_answer].image_position == 'above' && options[rc.correct_answer].image_url" />

                        <h3 ng-if="options[rc.correct_answer].text">{{options[rc.correct_answer].text}}</h3>

                        <img ng-src="{{options[rc.correct_answer].image_url}}" ng-if="options[rc.correct_answer].image_position == 'below' && options[rc.correct_answer].image_url" />

                        <div>{{rc.correct_rationale}}</div>
                    </div><!-- .detailed-solution -->
                </span>

            </section><!-- .correct-answer-and-rationale -->

            <div class="original-answers results-container choicegroup">
                <h3>Original Answers</h3>
                <fieldset role="radiogroup" aria-label>
                    <label class="ubcpi-label ubcpi-answer" data-ng-repeat="d in chartDataOriginal[0]['values'] track by $index">
                        <input class="ubcpi-field" type="radio" data-ng-model="rc.answer_original" value="{{$index}}" disabled>

                        <div>Option {{$index + 1}}</div>

                        <img ng-src="{{d[0].image_url}}" ng-if="d[0].image_position == 'above' && d[0].image_url" />

                        <div ng-if="d[0].text">{{d[0].text}}</div>

                        <img ng-src="{{d[0].image_url}}" ng-if="d[0].image_position == 'below' && d[0].image_url" />
                    </label>
                </fieldset>

                <div id="original-bar-chart"></div>

            </div><!-- .original-answers -->

            <div class="revised-answers results-container choicegroup">

                <h3>Revised Answers</h3>
                <fieldset role="radiogroup" aria-label>
                    <label class="ubcpi-label ubcpi-answer" data-ng-repeat="d in chartDataRevised[0]['values'] track by $index">
                        <input class="ubcpi-field" type="radio" data-ng-model="rc.answer_revised" value="{{$index}}" disabled>

                        <div>Option {{$index + 1}}</div>

                        <img ng-src="{{d[0].image_url}}" ng-if="d[0].image_position == 'above' && d[0].image_url" />

                        <span ng-if="d[0].text">{{d[0].text}}</span>

                        <img ng-src="{{d[0].image_url}}" ng-if="d[0].image_position == 'below' && d[0].image_url" />
                    </label>
                </fieldset>

                <div id="revised-bar-chart"></div>

            </div><!-- .revised-answers -->

        </div><!-- .correct-revised-chart -->

    </div><!-- .revise -->

</div><!-- .ubcpi_block -->
