<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">

    <div ng-controller="EditSettingsController as esc">
        
        <form id="pi-form" name="piForm" ng-submit="esc.submit()" ng-model="esc.data" ng-model-options="{allowInvalid: true}" validate-form>
        
            <ul class="list-input settings-list" id="pi-line-items">

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-display-name">Display Name</label>
                        <input class="input setting-input" name="display_name" id="pi-display-name" ng-model="esc.data.display_name" type="text" required />
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-question-text">Question Text</label>
                        <input class="input setting-input" name="question_text" id="pi-question-text" ng-model="esc.data.question_text" type="text" required />
                    </div>
                    <span class="tip setting-help">The question the students see. This question appears above the possible answers which you set below.</span>
                </li>
            
                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting" ng-repeat="option in esc.data.options track by $index">
                        <label class="label setting-label pi-setting-label" for="pi-option-{{$index}}">Option {{$index + 1}}</label>
		<input class="input setting-input pi-options" name="" id="pi-option-{{$index}}" ng-model="esc.data.options[$index]" type="text" required />
                        <a href="" class="remove-action remove-setting" data-lang="af" data-value="" ng-click="esc.delete_option($index)" data-tooltip="Remove option"><i class="icon fa fa-times-circle"></i><span class="sr">Remove</span></a>
                    </div>
                    <a class="pi-add-item-link create-action create-setting" ng-click="esc.add_option()"><i class="icon fa fa-plus"></i> Add</a>
                    <span class="tip setting-help">These are the possible options from which a student may select.</span>
                </li>
            
                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-option-correct">Correct Option</label>
                        <select name="pi-option-correct" id="pi-option-correct" ng-model="esc.data.correct_answer" ng-options="option for option in esc.data.options" required></select>
                    </div>
                    <span class="tip setting-help">This is the correct option. This enables you to know if a student answered the question correctly.</span>
                </li>
            
                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-algo">Selection Algorithm</label>
                        <select name="pi-algo" id="pi-algo" ng-model="esc.data.algo" ng-options="algo as algo for (algo, desc) in esc.algos" required></select>
                    </div>
                    <span class="tip setting-help">{{ esc.algos[esc.data.algo] }}</span>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div ng-messages='piForm.$errors'>
                        <div class="seed_error" ng-message="seed_error">
                            <p><i class="icon fa fa-remove"></i> {{piForm.$errors.seed_error}}</p>
                        </div>
                    </div>
                
                    <div class="wrapper-comp-setting seeded-answer" ng-repeat="option in esc.data.seeds track by $index">
                        <label class="label setting-label pi-setting-label" for="pi-seed-{{$index}}">Seeded Answer {{$index + 1}}</label>
                        <select name="pi-option-seeded-{{$index}}" id="pi-option-seeded-{{$index}}" ng-model="esc.data.seeds[$index].answer" ng-options="option for option in esc.data.options" required></select>
                        <a href="" class="remove-action remove-setting" data-lang="af" data-value="" ng-click="esc.deleteSeed($index)" data-tooltip="Remove seed"><i class="icon fa fa-times-circle"></i><span class="sr">Remove</span></a>
                        <textarea class="input setting-input pi-options" name="" id="pi-seed-{{$index}}" ng-model="esc.data.seeds[$index].rationale" required></textarea>
                    </div>
                    <a class="pi-add-item-link create-action create-setting" ng-click="esc.addSeed()"><i class="icon fa fa-plus"></i> Add Seed</a>
                </li>
        
            </ul>
            
            <div class="xblock-actions">
        
                <ul>
                    <li class="action-item validation-tip"><a href="" class="save-disabled-tooltip" data-lang="af" data-value="" ng-show="piForm.$errors.seed_error" data-tooltip="You are unable to save this form as there are errors: {{piForm.$errors.seed_error}}"><i class="icon fa fa-question-circle"></i></a></li>
                    <li class="action-item">
                        <input id="pi-submit-options" type="submit" class="button action-primary save-button" value="Save" ng-disabled="esc.data.options.length == 0 || piForm.$invalid || piForm.$pending"/>
                    </li>
            
                    <li class="action-item">
                        <a href="" class="button cancel-button" ng-click="esc.cancel()">Cancel</a>
                    </li>
                </ul>
        
            </div><!-- .xblock-actions -->

        </form>

    </div><!-- ng-controller="EditSettingsController as esc" -->

</div><!-- #settings-tab -->