<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">

    <div ng-controller="EditSettingsController as esc">

        <form id="pi-form" name="piForm" ng-submit="esc.submit()" ng-model="esc.data" ng-model-options="{allowInvalid: true}" validate-form>

            <ul class="list-input settings-list" id="pi-line-items">

                <li class="ubcpi-pi-intro">
                    <p><strong>Peer Instruction</strong></p>
                    <p>Peer instruction problems give learners an opportunity for interactive engagement while they answer a multiple choice question. Learners complete these problems in three steps.</p>
                    <p>First, the learner answers a multiple choice question and provides a rationale for the answer. Next, the learner sees the rationale provided by another learner for each of the other possible answers. After assessing this input, the learner can make revisions and resubmit an answer and rationale. Finally, the learner sees the correct answer and the rationale that you provide for it.</p>
                </li>

                <li class="field comp-setting-entry is-set ubcpi-display-name">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-display-name">Display Name<br /><span class="tip setting-help">This name appears in the horizontal navigation at the top of the page.</span></label>
                        <input class="input setting-input" name="display_name" id="pi-display-name" ng-model="esc.data.display_name" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-question-text">Question Text <br /><span class="tip setting-help">The question the students see. This question appears above the possible answers which you set below. You can use text, an image or a combination of both. If you wish to add an image to your question, press the 'Add Image' button.</span> <input type="button" class="button action-primary add-image-button" value="{{esc.data.question_text.image_show_fields ? 'Remove Image' : 'Add Image to Question'}}" ng-click="esc.image_show_fields(false)" name="add-image-button" /></label>
                        <textarea class="input setting-input" name="question_text" id="pi-question-text" ng-model="esc.data.question_text.text" ng-model-options="{ debounce: 500 }"></textarea>

                        <div class="add-image-inputs" ng-if="esc.data.question_text.image_show_fields">
                        	<label class="label setting-label pi-setting-label" for="question-text-image-url">Image URL<br /><span class="tip setting-help">Upload a file using Content > Files &amp; Uploads. Then copy the 'Studio URL'. Paste that into the text field above.</span></label>
                        	<input type="text" name="question-text-image-url" id="question-text-image-url" class="input setting-input pi-options image-input-url" ng-model="esc.data.question_text.image_url" ng-model-options="{ debounce: 500 }" required/> <br />
                        	<label class="label setting-label pi-setting-label" for="question-text-image-url">Image Position<br /><span class="tip setting-help">hoose if you want the image to appear above or below the question text.</span></label>
                        	<select name="question-text-image-position" id="question-text-image-position" ng-model="esc.data.question_text.image_position" ng-options="position as desc for (position, desc) in esc.image_position_locations"></select><br />
                            <label class="label setting-label pi-setting-label" for="question-text-image-alt">Image Description<br /><span class="tip setting-help">Provide some alternative text - as a description for this image shown when people hover over it with their cursor or verbalised by assitive technologies.</span></label>
                            <input type="text" name="question-text-image-alt" id="question-text-image-alt" class="input setting-input pi-options image-input-alt" ng-model="esc.data.question_text.image_alt"  ng-model-options="{ debounce: 500 }" required/>
                        </div>

                    </div>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-rationale-min">Minimum Characters<br />
                            <span class="tip setting-help">The minimum number of characters the rationale is allowed to contain. You may wish to mention this in the question text if you add a limit above one character.</span>
                        </label>
                        <input class="input setting-input" name="pi-rationale-min" id="pi-rationale-min" ng-model="esc.data.rationale_size.min" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi_rationale_max">Maximum Characters<br />
                            <span class="tip setting-help">The maximum number of characters the rationale is allowed to contain.</span>
                        </label>
                        <input class="input setting-input" name="pi-rationale-max" id="pi_rationale_max" ng-model="esc.data.rationale_size.max" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">

                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-display-name">
                            Possible Options<br />
                            <span class="tip setting-help">These are the possible options from which a student may select.
                                Each option may contain text, an image or a combination of both. To add an image to an option,
                                press the 'Add Image' button within each option. To add an entirely new option press the
                                'Add Option' button below this help text. To remove an option press the blue cross to
                                the side of the option you wish to remove. Maximum 10 options.</span>
                            <input type="button" class="button action-primary add-image-button" value="Add Option" ng-click="esc.add_option()" name="pi-add-item-link" ng-hide="esc.data.options.length>=10"/>
                        </label>
                        <div class="ubcpi-options-list-container">
                            <div class="wrapper-comp-setting ubcpi-options-list" id="option-{{ $index + 1}}" ng-repeat="option in esc.data.options track by $index">
                                <label class="label setting-label pi-setting-label" for="pi-option-{{$index}}">Option {{$index + 1}}<br /><span class="tip setting-help">Specify the value for this option. If you wish to add an image to this option click the Add Image button below.</span> <input type="button" class="button action-primary add-image-button" value="{{esc.data.options[$index].image_show_fields ? 'Remove Image' : 'Add Image to Option ' + ($index+1) }}" ng-click="esc.image_show_fields($index)" name="pi-option-{{$index}}" /></label>
                                <input class="input setting-input pi-options" name="" id="pi-option-{{$index}}" ng-model="esc.data.options[$index].text" ng-model-options="{ debounce: 500 }" type="text" required />
                                <a href="" class="remove-action remove-setting" aria-label="Remove Option" data-lang="af" data-value="" ng-click="esc.delete_option($index)" data-tooltip="Remove option"><i class="icon fa fa-times-circle"></i><span class="sr">Remove</span></a>

                                <div class="add-image-inputs" ng-if="esc.data.options[$index].image_show_fields">
                                	<label class="label setting-label pi-setting-label" for="question-text-image-url-{{$index}}">Image URL<br /><span class="tip setting-help">Upload a file using Content > Files &amp; Uploads. Then copy the 'Studio URL'. Paste that into the text field above.</span></label>
                                	<input type="text" name="question-text-image-url" id="question-text-image-url-{{$index}}" class="input setting-input pi-options image-input-url" ng-model="esc.data.options[$index].image_url" ng-model-options="{ debounce: 500 }" required/> <br />
                                	<label class="label setting-label pi-setting-label" for="question-text-image-url-{{$index}}">Image Position<br /><span class="tip setting-help">Choose if you want the image to appear above or below the question text.</span></label>
                                	<select name="question-text-image-position" id="question-text-image-position-{{$index}}" ng-model="esc.data.options[$index].image_position" ng-options="position as desc for (position, desc) in esc.image_position_locations"></select><br />
                                    <label class="label setting-label pi-setting-label" for="question-text-image-alt-{{$index}}">Image Description<br /><span class="tip setting-help">Please provide alternative text for this image.</span></label>
                                	<input type="text" name="question-text-image-alt" id="question-text-image-alt-{{$index}}" class="input setting-input pi-options image-input-alt" ng-model="esc.data.options[$index].image_alt" ng-model-options="{ debounce: 500 }" required/> <br />
                                </div>

                            </div>

                        </div>

                    </div>

                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-option-correct">Correct Option<br /><span class="tip setting-help">This is the correct option. This enables you to know if a student answered the question correctly.</span></label>
                        <select name="pi-option-correct" id="pi-option-correct" ng-model="esc.data.correct_answer" ng-model-options="{ debounce: 500 }" ng-options="esc.data.options.indexOf(option) as ('Option ' + (esc.data.options.indexOf(option) +1) ) for option in esc.data.options" required></select>
                    </div>
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-correct-rationale">Rationale<br /><span class="tip setting-help">Explain to students why this is the correct option.</span></label>
                        <textarea name="pi-correct-rationale" id="pi-correct-rationale" ng-model="esc.data.correct_rationale.text" ng-model-options="{ debounce: 500 }" required></textarea>
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-algo">Selection Algorithm<br /><span class="tip setting-help">The algorithm for determining which other answers the student answering this question sees after they submit their answer and rationale.</span></label>
                        <select name="pi-algo" id="pi-algo" ng-model="esc.data.algo.name" ng-options="algo as algo for (algo, desc) in esc.algos" required></select>
                    </div>
                    <span class="tip setting-help">{{ esc.algos[esc.data.algo] }}</span>
                    <div class="wrapper-comp-setting">
                        <label class="label setting-label pi-setting-label" for="pi-algo-num-responses">Number of Responses<br /><span class="tip setting-help">The number of responses presented to the students. Enter # for the same number as options.</span></label>
                        <input class="input setting-input pi-options" name="pi-algo-num-responses" id="pi-algo-num-responses" ng-model="esc.data.algo.num_responses" ng-model-options="{ debounce: 500 }" type="text" required />
                    </div>
                </li>

                <li class="field comp-setting-entry is-set">

                    <label class="label setting-label" for="">Seeded Answers<br /><span class="tip setting-help">Provide answers which can be shown to the students answering this question when there are not enough submitted responses from which to choose. </span></label>


                    <div class="ubcpi-options-list-container">
                        <div class="wrapper-comp-setting ubcpi-options-list seeded-answer" id="seed-{{ $index + 1 }}" ng-repeat="option in esc.data.seeds track by $index">
                            <label class="label setting-label pi-setting-label" for="pi-option-seeded-{{$index}}">Seeded Answer {{$index + 1}} <br /><span class="tip setting-help">Choose which option this seeded answer is for.</span></label>
                            <select name="pi-option-seeded-{{$index}}" id="pi-option-seeded-{{$index}}" ng-model="esc.data.seeds[$index].answer" ng-options="esc.data.options.indexOf(option) as ('Option ' + (esc.data.options.indexOf(option) +1) ) for option in esc.data.options" required></select>
                            <a href="" class="remove-action remove-setting" aria-label="Remove seed" data-lang="af" data-value="" ng-click="esc.deleteSeed($index)" data-tooltip="Remove seed"><i class="icon fa fa-times-circle"></i><span class="sr">Remove</span></a>
                            <label class="label setting-label pi-setting-label" for="pi-seed-{{$index}}">Rationale for Seeded Answer {{$index + 1}}<br /><span class="tip setting-help">Provide the rationale for this seeded answer.</span></label>
                            <textarea class="input setting-input ubcpi-field" name="" id="pi-seed-{{$index}}" ng-model="esc.data.seeds[$index].rationale" ng-model-options="{ debounce: 500 }" required></textarea>
                        </div>
                        <input type="button" class="button action-primary add-image-button" value="Add Seed" ng-click="esc.addSeed()" name="pi-option-add-seed" />
                    </div>

                    <div ng-messages='piForm.$errors' ng-messages-multiple>
                        <div class="seed_error" ng-message="seed_error">
                            <p role="alert"><i class="icon fa fa-remove"></i> {{piForm.$errors.seed_error}}</p>
                        </div>
                        <div class="options_error" ng-message="options_error">
                            <p role="alert" class="icon fa fa-remove">{{piForm.$errors.options_error}}</p>
                        </div>
                    </div>

                </li>

            </ul>

            <div class="xblock-actions">

                <ul>
                    <li class="action-item validation-tip"><a href="" class="save-disabled-tooltip" data-lang="af" data-value="" ng-show="piForm.$errors.seed_error" data-tooltip="You are unable to save this form as there are errors: {{piForm.$errors.seed_error}}"><i class="icon fa fa-question-circle"></i></a></li>
                    <li class="action-item">
                        <input id="pi-submit-options" type="submit" class="button action-primary save-button" name="pi-submit-options" value="Save" ng-disabled="esc.data.options.length == 0 || piForm.$invalid || piForm.$pending"/>
                    </li>

                    <li class="action-item">
                        <a href="" class="button action-cancel cancel-button" name="pi-cancel-options">Cancel</a>
                    </li>
                </ul>

            </div><!-- .xblock-actions -->

        </form>

    </div><!-- ng-controller="EditSettingsController as esc" -->

</div><!-- #settings-tab -->
