{
  "baseUrls": {
    "cms": "http://studio.edx.example.edu",
    "lms": "http://edx.example.edx"
  },
  "course_key": "course-v1:UBC+PITEST201+2015W",
  "xblock_prefix": "block-v1:UBC+PITEST201+2015W+type@ubcpi+block@",
  "xblock_keys": [
    "d00d2132746245bdbb5c114c2d8b15f3",
    "7b966e2bafe143bc8215935674ae1648",
    "5a392cd1505e474c88b3ff268c3c1c19",
    "ecd249d85467422d91160cc3cb1265a8",
    "1738a96182b1414ca4ec12a4f57b9c7f",
    "ffb8bfa3326b48ecad8b347e742b41a7",
    "bb14ec256582463c8236ee35e6c6aed3",
    "4c01fe998b6a41ff920cfe7ad69cd016",
    "9ea5086ab8b0487b89721bd6a25b5a50",
    "991e2ea40de742c7a9c1b48b3bd10e98",
    "236462479e4e46d995ebf6c1ecd76bab",
    "5d74b1b1f0fa4476a7aaa80f2f39c3ba",
    "cae410b7ca0c4b0f98e3ef3003e7ccff",
    "d5c2be98d6ce418bace95427d5281c73",
    "79d46111748d40acab70c69fffd2cb6c",
    "109bf534f14544debe20d5b127218178"
  ],
  "answers": [
    {
      "original": [0, "This dog is full of anxiety. She's intently focused on something above her, her eyes are clearly dilated, and she seems hunched over."],
      "revised": [0, "This dog is full of anxiety. She's intently focused on something above her, her eyes are clearly dilated, and she seems hunched over."]
    },
    {
      "original": [0, "This dog is full of anxiety. She's intently focused on something above her, her eyes are clearly dilated, and she seems hunched over."],
      "revised": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."]
    },
    {
      "original": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."],
      "revised": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."]
    },
    {
      "original": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."],
      "revised": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."]
    },
    {
      "original": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."],
      "revised": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."]
    },
    {
      "original": [2, "The dog clearly feels bad about something, like peeing on the floor. The way she is looking up at the owner and with ears pressed back conveys shame."],
      "revised": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."]
    },
    {
      "original": [3, "This dog is feeling joy and happiness. Her mouth is relaxed and open with the appearance of smiling. The tongue is loose and the dog looks up expectantly, like it is waiting for a toy to be thrown."],
      "revised": [1, "The dog is afraid. She seems sort of crouched with a fearful expression (ears flattened, whale eyes, lips pulled back)."]
    },
    {
      "original": [3, "This dog is feeling joy and happiness. Her mouth is relaxed and open with the appearance of smiling. The tongue is loose and the dog looks up expectantly, like it is waiting for a toy to be thrown."],
      "revised": [3, "This dog is feeling joy and happiness. Her mouth is relaxed and open with the appearance of smiling. The tongue is loose and the dog looks up expectantly, like it is waiting for a toy to be thrown."]
    },
    {
      "original": [3, "This dog is feeling joy and happiness. Her mouth is relaxed and open with the appearance of smiling. The tongue is loose and the dog looks up expectantly, like it is waiting for a toy to be thrown."],
      "revised": [3, "This dog is feeling joy and happiness. Her mouth is relaxed and open with the appearance of smiling. The tongue is loose and the dog looks up expectantly, like it is waiting for a toy to be thrown."]
    },
    {
      "original": [3, "This dog is feeling joy and happiness. Her mouth is relaxed and open with the appearance of smiling. The tongue is loose and the dog looks up expectantly, like it is waiting for a toy to be thrown."],
      "revised": [3, "This dog is feeling joy and happiness. Her mouth is relaxed and open with the appearance of smiling. The tongue is loose and the dog looks up expectantly, like it is waiting for a toy to be thrown."]
    }
  ]
}
